<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">
</head>
<body>
    <header>
        <div id="navbar">
            <a id="logo" href="/" >Home</a>
            <a href="/create-lead">Create Lead</a>
            <a href="/list-lead">List Lead</a>
            <a href="#">Contact Us</a>
        </div>
    </header>

    <main>
        <section class="content">
            <h1>Welcome to Website.com</h1>
            <p> Discover how our WebApp makes lead management simple and efficient. With our intuitive interface, you can easily create new leads and view their details at your convenience. Whether you're managing a small list or handling a growing database, our application provides the tools you need to stay organized and informed. Enjoy a seamless experience in managing your leads with just a few clicks.</p><br>
            <p>Current Date And Time Is: {{ current_datetime }} </p><br>
            <p>Hi here is a quote for you : "{{ Random_Quote }}"</p>
        </section>
    </main>

    <footer>
        <p>Contact us at: info@website.com</p>
        <p>&copy; 2024 Website.com. All rights reserved.</p>
    </footer>
</body>
</html>
